<div>
  <div class="d-flex justify-content-between align-items-center">
    <div class="user_details">
      <% if user&.email.present? && pin&.name.present? %>
        <b>
          <%= image_tag(user_image(user), size: '30x30', class: 'rounded-circle mx-2') %>
          <%= user.email %></b>
        commented on <%= link_to(pin.name, board_pin_path(pin.board_id, pin), data: { turbo_frame: '_top' }) %>
        <%= image_tag(user_image(pin), size: '40x40', class: 'mx-2 rounded') %>
      <% else %>
        <span class="text-danger">The comment has been deleted by the user</span>
      <% end %>
    </div>
    <div class="notification_status">
      <% if unread %>
        <span class="badge bg-danger">Unread</span>
      <% else %>
        <span class="badge bg-success">Read</span>
      <% end %>
      <br>
    </div>
  </div>
  <hr>
</div>
