<div class="text-center">
  <div class="user_image">
    <%= image_tag(user_image(user), width:"200", height:"200", class: "rounded-circle")%>
  </div>
  <div class="user_details">
    <h1 class="mt-1 fw-bold">
      <%= user.name %>
    </h1>
    <div class="d-flex justify-content-center align-items-center mt-1">
      <small class="lead user_profile_description text-center">
        <%= user.description? ? user.description : ' Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit nulla labore laudantium maiores. Ea rem accusantium iste.' %>
      </small>
    </div>
  </div>
</div>
