<% content_for(:html_title) { " Feed | " } %>
<%= render 'partials/dropdown' %>
<div id="board_pins" class="image_container">
  <% @pin.each do |pin| %>
    <%= render 'pins/pin', pin: pin %>
  <% end %>
</div>
