<% content_for(:html_title) { " Feed | " } %>
<%= render 'partials/dropdown' %>
<div id="board_pins" class="image_container">
  <%= turbo_frame_tag :pin do %>
    <%= render @pin %>
  <% end %>
</div>
<%= turbo_frame_tag :pagination, 
  loading: :lazy, src: feed_path(format: :turbo_stream, page: @pagy.next)  %>
