<% content_for(:html_title) { " Welcome 🎬 | " } %>
<div class="container hero_section">
  <h1 class="text-center">Inspire. <br>
    Create. <span>Share.</span></h1>
  <p class="text-center mt-2 fw-light">Your endless canvas for inspiration.
    Explore, curate, and share  <br>
    ideas effortlessly in a  vibrant community. Welcome to a world without limits.</p>
  <% if user_signed_in? %>
    <%= link_to 'Get Started', feed_path, class: 'mt-2 btn btn-dark' %>
  <% else %>
    <div class="d-flex gap-2">
      <%= link_to 'Log In', new_user_session_path, class: 'mt-2 btn btn-dark btn-lg' %>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'mt-2 btn btn-dark btn-lg' %>
    </div>
  <% end %>
</div>
