:root{
  --ff-primary: 'Poppins', sans-serif !important;
  --c-primary : #CC0000;
  --h1-size-regular: 6em;
  --p-size-regular: 1.2em;
  --dark-grey: #111;
  --f-bolder: 700;
  --f-lighter: 400;
}
*{
  font-family: var(--ff-primary); 
}
.text_brand{
  background: rgb(198,33,33);
  background: linear-gradient(90deg, rgba(198,33,33,1) 0%, rgba(222,26,26,1) 100%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}
.active{
  background-color: red !important;
}

@keyframes appear-then-fade {
  0%, 100% {
    opacity:0
  }
  5%, 60% {
    opacity:1
  }
}

.user_profile_description{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 581px;
}