<div class="d-flex gap-2">
  <div class="user_image">
    <%= image_tag(user_image(user), width: "32", height: '32', class: 'rounded-circle')%>
  </div>
  <div class="user_details d-flex flex-column">
    <b><%= link_to user.email, profile_path(user) %></b>
    <small class="text-muted fw-light">
      <%= pluralize(user.pins.count, 'pin') %> | <%= time_ago_in_words(user.created_at) + ' ago'%>
    </small>
  </div>
</div>
<hr>
